# ========================
# .NET
# ========================
bin/
obj/
*.user
*.suo
.vs/
*.log
*.tmp

# ========================
# Rust
# ========================
target/

# ========================
# Go
# ========================
*.exe
*.test
vendor/

# ========================
# Node.js / NestJS / Bun
# ========================
node_modules/
dist/
.env
.env.local
.env.*.local
# ========================
# Aspire
# ========================
.aspire/

# ========================
# IDE
# ========================
.idea/
.vscode/
*.DS_Store
